<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevSecOps Project By Abdur Razzaq</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">DevOps Graduation Project</h1>
            <h2 class="subtitle">In Collaboration with iVolve Technologies</h2>
            <div class="logos">
                <img src="{{ url_for('static', filename='logos/nti-logo.png') }}" alt="NTI Logo" class="logo nti">
                <img src="{{ url_for('static', filename='logos/ivolve-logo.png') }}" alt="iVolve Logo" class="logo ivolve">
            </div>
            <p class="description">
                End to End DevSecOps Project ! This is My Second DevSecOps Mega Project added to Portolio.
            </p>
        </div>
        <footer>
            © 2025 Abdur Razzaq
        </footer>
    </div>
</body>
</html>

